@import "reset.css";

@font-face {
  font-family:"Pier Sans";
  src: url("../fonts/pier-regular.otf") format('opentype');
}
@font-face {
  font-family:"Pier Sans Bold";
  src: url("../fonts/pier-bold.otf") format('opentype');
}
@font-face {
  font-family:"Pier Sans Bold Italic";
  src: url("../fonts/pier-bold-italic.otf") format('opentype');
}
@font-face {
  font-family:"Qwigley";
  src: url("../fonts/Qwigley-Regular.ttf") format('truetype');
}


body {
  width: 100%;
  height: 100%;
  font-family: "Pier Sans";
}

h1 {
  font-size: 40px;
  letter-spacing: 0.4em;
  font-family: "Pier Sans Bold";
  margin-bottom: 30px;
}

h2 {
  font-size: 32px;
  letter-spacing: 0.4em;
  text-transform:uppercase;
  font-family: "Pier Sans Bold";
}
img.icon {
  width:32px;
}
img.icon-sm-1 {
  margin-top:3px;
  width:20px;
  float:left;
  margin-left:0px;
}
img.icon-sm {
  margin-top:3px;
  width:20px;
  float:left;
  margin-left:10px;
}
h3 {
  font-family: "Pier Sans Bold Italic";
  letter-spacing: 0.2em;
  font-size: 44px;
}
h4 {
  font-family: "Pier Sans Bold Italic";
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 20px;
}
li {
list-style: none;
}

/* So there isn't a space btwn navbar and jumbotron */
.parallax-window {
  min-height:650px;
  background: transparent;
}

.parallax-window1 {
  min-height: 800px;
  background: transparent;

}


.bulldog {
  background: url('https://i.ytimg.com/vi/nyr2YC6n3kA/maxresdefault.jpg') no-repeat center center;
  background-size: cover;
  padding: 30%;
}
/* Utility class I always use. Bascially a semantically correct <br> */
.spacer {
  clear: both;
  height: 20px;
}
.logo-top{
  margin-top: 40px;
  margin-right: 35px;
  width: 51px;
  float: right;
}
.menu {
  position: fixed;
  margin-top: 40px;
  margin-left: 39px;
  width: 49px;
  float: left;
}
.headline {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size:55px;
}

.phead {
  margin-top: -14px;
}
.center {
  text-align: center;
}
.subline{
  margin-top: 10px;
}

.sub {
  margin-top: 60px;
}


.welcome {
  background-color:white;
  height:900px;
  padding-top: 30px;
}

.diamond {
  display: inline;
  width:20px;
  margin-bottom: 20px;
  width: 23px;
  margin-right: 18px;
}

}
.profile {
  width:200px;
  text-align:center;
}
.header-welcome {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
  display:inline-block;
}
.header-block {
  display:block;
}

.square-pad {
  padding:55px;
}

.square-pad > h4{
  margin-bottom: 20px;
}
.image-overlay {
  background-image: url("../images/imageo.svg");
}

.no-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.icon {
  width: 50px;
  height: auto;
  z-index: 100;
  float: right;
}

.dahlia {
  width: 70px;
}

.recent {
  width: 200px;
}

.black {
  width: 350px;
  height: 350px;
  margin-left: 20px;
  display: inline-block;
  background-color: black;
}

.text {
  width: 350px;
  height: 450px;
}

.space-top {
  margin-top: 40px;
}

.center-pad {
  padding-left: 20%;
  padding-right: 20%;
}

.grey {
  color:#000;
  background-color: #D1D1D1;
  height: 500px;
}

.grey h3 {
  color: white;
}

.white {
  margin-top: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  height:300px;
  width: 70%;
  padding: 20px;
  color: black;
}
/*background-color: #A4C0FC;*/
.arrow{
  margin-top: 40px;
  width:80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#arrow_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top:520px;
  text-decoration:none;
  color: black;
  letter-spacing: 0.4em;
  font-style: bold;
}

.arrow_left {
  width:35px;
  transition: transform 100ms linear;

}

.arrow_left:hover {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
/*HAMBURGER MENU*/

#my-menu:not( .mm-menu ) {
   display: none;
}
#hamburger {
   display: block;
   position: fixed !important;
   width: 50px;
   padding: 5px 10px;
   margin-top: 40px;
}
#hamburger span {
   background: black;
   display: block;
   padding-bottom:1px;
   height: 3px;
   margin: 8px 0;
}

html.mm-opened #hamburger span.top-bar {
   transform: rotate( 45deg );
   top: 10px;

}
html.mm-opened #hamburger span.middle-bar {
   opacity: 0;
}
html.mm-opened #hamburger span.bottom-bar {
   transform: rotate( -45deg );
   top: -12px;
}


#hamburger {
   overflow: hidden;
}
#hamburger span {
   position: relative;
   transform: rotate( 0 );
   top: 0;
   left: 0;
   opacity: 1;
   transition: none 0.5s ease;
   transition-property: transform, top, left, opacity;
}

html.mm-opened #hamburger span.middle-bar {
   left: -40px;
}


/*MODAL STYLING*/
.close-aModal0 img, .close-aModal1 img, .close-aModal2 img,
.close-aModal3 img, .close-aModal4 img {
  margin: 3%;
}
.modal-space-body{
  padding-left: 5%;
  padding-right: 5%;
}

/*IMAGES COVER*/
.cover1 {
  width: 800px;
}

.cover {
  width: 500px;
}

.img_cover {
  width: 500px;
}

.img_cover-st {
  width: 1000px;
  margin-bottom:40px;
  display:block;
}

.img_small {
  width: 300px;
  margin-bottom: 30px;
}

.img_med {
  width: 650px;
  margin-right:30px;

}
.img_med-fl {
  width: 650px;
  float:right;
  margin-left:30px;
}

.img_med-fl:after{
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.caption-bt {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform:uppercase;
  display: inline-block;
  margin-bottom: 30px;
  width: 48%;
}
.caption-fj {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform:uppercase;
  display: inline-block;
  margin-bottom: 100px;
}

.caption-st {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform:uppercase;
  margin-bottom: 92px;

}
.caption-text{
  width: 300px;
  text-align:center;
  display:inline-block;
}
.sub-caption {
  font-size: 11px;
  text-transform:none;
}

.add-mb {
  margin-bottom: 40px;
}
.add-mt {
  margin-top: 50px;
}
.images-section {
  margin-top: 50px;
  padding-top:20px;
}
.list {
  font-size: 18px;
  margin-top: 6px;
  letter-spacing: 0.2em;
}
.skills {
  padding-left: 60px;
  margin-bottom: 40px;
}
.header-skills {
  margin-bottom:70px;
  display:inline-block;
  font-size: 40px;
}
#skills {
  background: #A4C0FC;
  color: white;
  padding-top:25px;
  padding-bottom:90px;
}
#pro{
  padding-top: 100px;
}
.respond li{
  list-style-type: disc;
}
.center-col {
  padding-left: 4%;
}
.clearfix:after{
  clear:both
}
.header-rp {
  font-size:35px;
  margin-bottom: 40px;
}
.responsibilities {
  margin-top:40px;
}

p.intro::first-letter {
  font-size: 24px;
  font-family: "Pier Sans Bold";
}
.bn {
  display: block;
  width: 120px;
  height: 30px;
  padding: 15px;
  padding-top: 8px;
  text-align: center;
  color: white;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.bn:visited, .bn:hover {
  color: white;
  text-decoration: none;
}

.github, .git {
  background: #B67EAE;
}
.github:hover {
  background: #91638C;
}
.website {
  background: #4FE3C1;
}
.website:hover {
  background: #50AA95;
}
.linkedIn {
  background: #1A85BC;
}
.linkedIn:before {
  background:#145772;
}
.angel {
  background: #000;
}
.angel:before {
  background: #808080;
}

.git:before {
  background: #91638C;
}
.vsco {
  background: #AE995A;
}
.vsco:before {
  background: #9B7808;
}
.insta {
  background: #D72C73;
}
.insta:before {
  background: #9B084E;
}

.resume {
  width: 300px;
  padding-top: 19px;
  background: #4FE3C1;
  padding-bottom: 34px;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.resume:before {
  background: #50AA95;
}

ul.tech, ul.api {
  padding-left:0px;
}
.tech > li {
  display: inline-block;
  height: 26px;
  background: #FF3366;
  text-align: center;
  padding: 6px;
  margin: 2px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.api > li {
  display: inline-block;
  height: 26px;
  background: #4354D1;
  text-align: center;
  padding: 6px;
  margin: 2px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.current {
  display: inline-block;
  height: 26px;
  background: #D14351;
  text-align: center;
  padding: 6px;
  margin: 2px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
  float: right;
  margin: 40px;
}
.hvr-float, .img_small, .img_med, .img_med-fl {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active,
.img_med-fl:hover, .img_med-fl:focus, .img_med-fl:active,
.img_small:hover, .img_small:focus,.img_small:active, .img_med:hover, .img_med:focus,
.img_med:active {
  transform: translateY(-10px);
}


ul.skills li {
  letter-spacing: 0.2em;
  font-family: "Helvetica"
}

/*CAPTION*/

figure {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom:125px;
}

figcaption {
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 15px 20px;
  opacity: 0;
  bottom: 10px;
  left: -30%;
  font-size:20px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

.ml {
  margin-left:60px;
}
.ml-sm {
  margin-left: 10px;
}
.email {
  width: 20px;
  margin-right:10px;
}
.contact a {
  color:#000;
  margin-bottom:20px;
}

.contact a:hover {
  text-decoration:none;
  color:white;
}
.name{
  font-family: "Pier Sans Bold";
  text-transform:uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  color: #000;
}
.loca {
  font-size: 14px;
  color: #000;
}
.link-container {
  width: 400px;
  height:100%;
}
.linkbox {
  display: inline-block;
  vertical-align: top;

}
div.mm-navbar {
  padding-top:23px;
  padding-bottom:10px;
  border: none;
}
.hvr-underline-from-left:before {
  background:#000;
}
.mm-listview>li:not(.mm-divider):after {
  border-bottom-style: none !important;
}
a.scrll{
  color:#000;
}
a.scrll:hover {
  color: #F16867;
}
a.mm-title {
  font-family: "Pier Sans Bold Italic";
  letter-spacing: 0.2em;
  color: #000;
  font-size: 44px;
}
ul.mm-listview {
  margin-top: 10px;
  padding-top:20px;
}
ul.mm-listview li {
  margin-left: 30px;

}
.blue-nav{
  padding-top: 205px;
  margin-top: 20px;
  width: 100%;
  height: 260px;
  background: #A4C0FC;
  font-size: 10px;
  color: white;
}
#mm-1 {
  background: white;
}

.mm-panels>.mm-panel:after{
  height:0px;
}
