@import "reset.css";

@font-face {
  font-family:"Pier Sans";
  src: url("../fonts/pier-regular.otf") format('opentype');
}
@font-face {
  font-family:"Pier Sans Bold";
  src: url("../fonts/pier-bold.otf") format('opentype');
}
@font-face {
  font-family:"Pier Sans Bold Italic";
  src: url("../fonts/pier-bold-italic.otf") format('opentype');
}
@font-face {
  font-family:"Qwigley";
  src: url("../fonts/Qwigley-Regular.ttf") format('truetype');
}


body {
  width: 100%;
  height: 100%;
  font-family: "Pier Sans";
}

h1 {
  font-size: 40px;
  letter-spacing: 0.4em;
  font-family: "Pier Sans Bold";
}

h2 {
  font-size: 24px;
  letter-spacing: 0.4em;
  font-family: "Pier Sans Bold";
}
h3 {
  font-family: "Pier Sans Bold Italic";
  letter-spacing: 0.2em;
  font-size: 56px;
}


/* So there isn't a space btwn navbar and jumbotron */
.parallax-window {
  min-height:650px;
  background: transparent;
}

.parallax-window1 {
  min-height: 800px;
  background: transparent;

}


.bulldog {
  background: url('https://i.ytimg.com/vi/nyr2YC6n3kA/maxresdefault.jpg') no-repeat center center;
  background-size: cover;
  padding: 30%;
}
/* Utility class I always use. Bascially a semantically correct <br> */
.spacer {
  clear: both;
  height: 20px;
}
.logo-top{
  margin-top: 40px;
  margin-right: 35px;
  width: 51px;
  float: right;
}
.menu {
  position: fixed;
  margin-top: 40px;
  margin-left: 39px;
  width: 49px;
  float: left;
}
.headline {
margin-top: 60px;
margin-bottom: 30px;
}

.center {
  text-align: center;
}
.subline{
  margin-top: 10px;
}

.sub {
  margin-top: 60px;
}

/*Down-right pointing*/
.triangle-down-right {
    width: 10%;
    height: 0;
    padding-top: 10%;
    overflow: hidden;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-100px;
    border-top: 100px solid transparent;
    border-right: 100px solid #FFF;
    position:absolute;
    bottom: 28px;
    right:0;
}
.welcome {
  background-color:white;
  height:500px;
  padding-top: 30px;
}
.image-overlay {
  background-image: url("../images/imageo.svg");
}

.no-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.icon {
  width: 50px;
  height: auto;
  z-index: 100;
  float: right;
}

.dahlia {
  width: 70px;
}

.recent {
  width: 200px;
}

.black {
  width: 350px;
  height: 350px;
  margin-left: 20px;
  display: inline-block;
  background-color: black;
}

.text {
  width: 350px;
  height: 450px;
}

.space-top {
  margin-top: 40px;
}

.center-pad {
  padding-left: 20%;
  padding-right: 20%;
}

.grey {
  color:white;
  background-color: #D1D1D1;
  height: 500px;
}

.white {
  margin-top: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  height:300px;
  width: 70%;
  padding: 20px;
  color: black;
}
/*background-color: #A4C0FC;*/
.arrow{
  margin-top: 40px;
  width:80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#arrow_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top:520px;
  text-decoration:none;
  color: black;
  letter-spacing: 0.4em;
  font-style: bold;
}

.arrow_left {
  width:35px;
  transition: transform 100ms linear;

}

.arrow_left:hover {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
/*HAMBURGER MENU*/

#my-menu:not( .mm-menu ) {
   display: none;
}
#hamburger {
   display: block;
   position: fixed !important;
   width: 50px;
   padding: 5px 10px;
   margin-top: 40px;
}
#hamburger span {
   background: black;
   display: block;
   padding-bottom:1px;
   height: 3px;
   margin: 8px 0;
}

html.mm-opened #hamburger span.top-bar {
   transform: rotate( 45deg );
   top: 10px;

}
html.mm-opened #hamburger span.middle-bar {
   opacity: 0;
}
html.mm-opened #hamburger span.bottom-bar {
   transform: rotate( -45deg );
   top: -12px;
}


#hamburger {
   overflow: hidden;
}
#hamburger span {
   position: relative;
   transform: rotate( 0 );
   top: 0;
   left: 0;
   opacity: 1;
   transition: none 0.5s ease;
   transition-property: transform, top, left, opacity;
}

html.mm-opened #hamburger span.middle-bar {
   left: -40px;
}


/*MODAL STYLING*/
